/* incorperated the colour pallete the same as the video! to make it look aesthetically pleasing */

:root {
  --yellow: #f2eeac;
  --orange: #ff8c38;
  --darkblue: #36484f;
  --pink: #e58e9e;
  --peach: #f2a679;
  --lightbrown: #8c4a3b;
  --darkbrown: #260101;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
}

body {
  background: radial-gradient(
    circle,
    var(--pink),
    var(--orange),
    var(--yellow)
  );
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: end; */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* The layout was inspired by a live-stream layout from twitch and youtube, replacing the chatbox as a to-do lis. I wanted to make it as simple as possible to create a clean feel for the users. */

/* Create a container for the main content */
.container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

/* CSS styling for the media player */
.video-container {
  width: 700px;
  height: 0;
  padding-bottom: 56.26%; /*the aspect ratio of 16:9*/
  position: relative;
  padding: 10px;
}


#video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #edeef0 20px solid;
}

/* CSS styling for the to-do list */
.to-do-container {
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;

}

.to-do {
  border: #260101 2px solid;
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  min-width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 0px;
}

.to-do h2 {
  color: var(--darkbrown);
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef6;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  
}

.to-do input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--darkbrown);
  padding: 10px;
  
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: var(--orange);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.control-container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

#play-pause-btn {
  background: var(--pink);
  border: none;
  cursor: pointer;
  outline: none;
}

.title {
  display: flex;
  align-items: center;
  color: #260101;
  background: #edeef0;
  padding: 10px;
}

/* styling the checked box */
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
/* styling the unchecked */
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 11px;
  left: 15px;
}

/* styling for the task when it is checked */
ul li.checked {
  color: #260101;
  text-decoration: line-through;
}

/* styling for the task before it was checked */
ul li.checked::before {
  background-image: url(images/checked.png);
}

/* styling for the delete icon */
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #260101;
  line-height: 40px;
  text-align: center;
}

/* styling for the delete icon when the mouse hover it */
ul li span:hover {
  background: var(--orange);
  border-radius: 10px;
}

/* Media query for smaller screens */
/* the styling format when the screen is shrunk! */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .video-container {
    width: 100%;
    padding-bottom: 56.25%;
  }

  .to-do-container {
    width: 100%;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .to-do {
    /* height: 150px; */
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Footer styling */
footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}