/* styles for everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  color: var(--white);
}

/* my colour palette; i was inspired by the new apple astronomy wallpaper, they have a wallpaper that showcase one of the planets. I chose the mars wallpaper cause in the wallpaper it looks pink and i thought that would match the aesthetic. */
:root {
  --black: #000000;
  --pink: #d89a94;
  --dark-pink: #a6565d;
  --brown: #d28a59;
  --white: #f2f2f2;
}

/* styling for body */
body {
  background: var(--black);
}

/* styling for heading */
.header {
  height: 100%;
  width: 100%;
  padding: 0 8%;
  position: relative;
  z-index: 1; /* ensure the header stays above the stars */
  background: none;
}

/* styling the navigation links */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none; /* hide the link lines */
  padding: 5px 0;
  transition: color 0.5s ease;
}

.nav-links li a:hover {
  color: var(--pink);
}

/* styling the interactive stars*/

.planet {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: fit-content;
}

.container {
  width: 1470px;
  height: 100vh;
  cursor: pointer;
}

/* styling for the stars when users click on it; it'll show the stars */
/*I decided to create this effect cause i thought it would fit the aesthetic interactive portfolio look since it is about space and theres stars in it :) */
.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--white);
  border-radius: 60%;
  box-shadow: 0 0 10px; /*making it glow to look like an actual star!*/
  opacity: 1;
  transition: opacity 2s;
}

/* wanting to have a fade effect so it doesnt look choppy when the stars disappeared */
.fade-out {
  opacity: 0;
}

#backgroundVideo {
  margin-top: 4.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* needed a container */
.overlay {
  position: absolute;
  top: 58%;
  left: 48.5%;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 2; /* i got help from ChatGPT from this, they said it is to ensure the text is above the video */
  color: white;
}

.overlay p {
  font-family: ""; /* using the default text font, dont remember the name of it so i made it empty cause it will show up as the default anyway towards the end. Having it as a different text makes it more special and 'interesting looking' for users to look at */
  font-size: 16px;
  transition: font-size 0.7s ease;
}

/* having a hover effect just makes the website more aesthetically pleasing to view, very interactable for users */
.overlay p:hover {
  font-size: 17.5px;
}

/* styling for carousell slide show */
.slideContainer {
  max-width: 1200px;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 48.5%;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel ::-webkit-scrollbar {
  display: none;
}
.card {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 400px;
  min-width: 500px;
  display: flex;
  flex-direction: column; /* Add this line to stack elements vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--brown);
  padding: 40px;
}

/* random colours placed in all of the cards, took these from my A1 :) */
.card:nth-child(3n) {
  background-color: var(--pink);
}

.card:nth-child(3n - 1) {
  background-color: var(--dark-pink);
}

/* styling for footer */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
}

footer p {
  text-align: center;
}
