:root {
    --primary-bg-color: #f4f4f4;
    --text-color: #333;
    --main-bg-color: #333;
    --main-text-color: #fff;
    --main-btn-bg-color: #938989;
    --grey: #ccccc2;
    --lightblue: #769aa3;
    --darkblue: #36484f;
    --pink: #b78d95;
  }
  
  body,
  h1,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Add additional styles as needed */
  
  /* Create a container for the main content */
  .container {
    display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  }
  
  /* Header styling */
  header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  
  /* Navigation styling */
  nav {
    margin-top: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  /* CSS styling for the media player */
.video-container {
    width: 200px;
    height: 0;
    padding-bottom: 56.26%; /*the aspect ratio of 16:9*/
    position: relative;
    padding: 10px;
    
  }
  
  #video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    width: 100%;
  }
  
  .custom-controls button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progress-bar span {
    display: block;
    height: 100%;
    background-color: var(--main-bg-color);
    width: 0;
    transition: width 0.3s ease;
  }

/* CSS styling for the to-do list */
.to-do-container {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .to-do {
    background-color: bisque;
    border-radius: 10px;
    flex: 1;
    padding: 10px;
    min-width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0px;
  }
  
  .to-do h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef6;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  
  .to-do input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    padding: 10px;
  }
  
  button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--lightblue);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
  }
  
  /* Footer styling */
  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }